$tm_footer_color: #686de0;
$background_color: #c3cfe2;
$hover_background_color: #222222;
$tm_body_color: #ffffff;
$body_text_color: #111111;
$body_text_color_diapositive: white;
$footer_text_color: #eeeeee;
$footer_url_color: #b4b6f0;
$footer_url_color_hover: white;
$tm_width: 100%;
$tm_body_height: 350px;
$tm_mid_height: 0px;
$tm_footer_height: 150px;
$button_color_normal: lightskyblue;
$button_color_hover: lightblue;
$shadow_color: grey;
