/* Variables */

@use "./O_18_variables" as *;

// Social Media Buttons (Level 3)

@use "./socialmedia";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "./fontawesome.css";
@import "./brands.css";
@import "./solid.css";

/* Global */
* {
  box-sizing: border-box;
}

body {
  background-color: $background_color;
}

/* Testimonial Card text behavior*/
.tm {
  font-family: "lato", sans-serif;
  color: $body_text_color;
  font-weight: 400;
  font-size: 17pt;
  line-height: 1.5em;
  margin: 10% 10% 20% 10%;
}
.tm__footer {
  font-family: "lato", sans-serif;
  color: $footer_text_color;
  text-align: center;

  &__h1 {
    font-weight: 600;
    font-size: 16pt;
    line-height: 2em;
    text-transform: uppercase;
  }

  &__url,
  a {
    font-size: 14pt;
    line-height: 2em;
    color: $footer_url_color;
    text-decoration: none;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: $footer_url_color_hover;
    }
  }
}

/* Portfolio Grid (level 2) */

.Portfolio-grid {
  &__container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &__item {
    flex: 0 1 400px;
    width: $tm_width;
    align-self: center;
    &:nth-child(3n - 1) .tm-card__footer {
      background-color: $tm_footer_color;
    }
    &:nth-child(3n - 2) .tm-card__footer {
      background-color: darken($tm_footer_color, 20%);
    }
    &:nth-child(3n - 3) .tm-card__footer {
      background-color: darken($tm_footer_color, 40%);
    }
  }
}

/* Testimonial Card grid (level 1) */

.tm-card {
  &__container {
    position: relative;
    display: grid;
    grid-template-rows: 350px 0px 150px;
    gap: 0px;
    grid-auto-flow: column;
    min-height: ($tm_body_height + $tm_mid_height + $tm_footer_height);
    width: $tm_width;
    max-width: 400px;
    border-radius: 20px;
    background-color: $hover_background_color;

    &__overlay {
      // (level 2)
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: $tm_width;
      opacity: 0;
      z-index: 10;
      transition: all 1s ease;
      border-radius: 20px;
      background-color: $hover_background_color;
      box-shadow: $shadow_color 0.2em 0.2em 0.3em;
    }

    &:hover .tm-card__container__overlay {
      opacity: 1;
    }
    &:hover .tm-card__item {
      opacity: 0;
    }
  }

  &__item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $tm_width;
    height: ($tm_body_height + $tm_mid_height + $tm_footer_height);
    border-radius: 20px;
    transition: all 1s ease;
    box-shadow: $shadow_color 0.2em 0.2em 0.3em;
  }

  &__body {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    width: $tm_width;
    background-color: $tm_body_color;
    min-height: $tm_body_height;
    border-radius: 20px 20px 0px 0px;
  }

  &__mid {
    position: absolute;
    top: 350px;
    left: 0px;
    z-index: 30;
    min-height: $tm_mid_height;
    width: $tm_width;

    > img {
      margin-top: -50px;
      margin-left: 39%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid $tm_body_color;
    }
  }

  &__footer {
    position: absolute;
    top: 350px;
    left: 0px;
    z-index: 20;
    min-height: $tm_footer_height;
    width: $tm_width;
    padding: 50px 5% 5% 5%;
    border-radius: 0px 0px 20px 20px;
  }
}

.overlay {
  // (level 2)
  &__text {
    color: $body_text_color_diapositive;
    font-family: lato;
    font-size: 20px;
    position: absolute;
    top: 38%;
    bottom: auto;
    left: 38%;
    right: auto;
    text-align: center;
  }
  &__btn {
    // (level 2)
    font-family: lato;
    font-size: 16px;
    background-color: $button_color_normal;
    padding: 10%;
    margin-top: 2rem;
    height: 40px;
    width: 100px;
    padding: auto;
    display: inline-block;
    border-radius: 5px;

    color: white;
    text-decoration: none;

    &:hover {
      background-color: $button_color_hover;
      color: $body_text_color;
    }
  }
}
