&--on-top {
      position: absolute;
      z-index: 40;
      top: 50%;
      left: 39%;
      margin: 0 auto;
    }

    button {
      background-color: #b4b6f0;
      color: white;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      display: none;
      z-index: 50;
      @include transition(opacity);
      @include on-hover-change-display(inline);
    }
  }