/* Variables */

$tm_footer_color: #686de0;
$background_color: #c3cfe2;
$hover_background_color: #222222;
$tm_body_color: #ffffff;
$body_text_color: #111111;
$footer_text_color: #eeeeee;
$footer_url_color: #b4b6f0;
$tm_width: 400px;
$tm_body_height: 350px;
$tm_mid_height: 0px;
$tm_footer_height: 150px;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// @mixin transition($transition-type, $transition-type2: null) {
//   transition-property: $transition-type, $transition-type2;
//   transition-duration: 1s;
//   transition-delay: 0s;
//   transition-timing-function: ease-in-out;
// }

// @mixin on-hover-change-opacity($opacity-value) {
//   &:hover {
//     opacity: $opacity-value;
//   }
// }

// @mixin on-hover-change-display($display-value) {
//   &:hover {
//     display: $display-value;
//   }
// }

// @mixin on-hover-change-background {
//   &:hover {
//     background-color: $hover_background_color;
//   }
// }

/* Global */
* {
  box-sizing: border-box;
}

body {
  background-color: $background_color;
}

/* Testimonial Card text behavior*/
.tm {
  font-family: "lato", sans-serif;
  color: $body_text_color;
  font-weight: 400;
  font-size: 17pt;
  line-height: 1.5em;
  margin: 10% 10% 20% 10%;
}
.tm__footer {
  font-family: "lato", sans-serif;
  color: $footer_text_color;
  text-align: center;

  &__h1 {
    font-weight: 600;
    font-size: 16pt;
    line-height: 2em;
    text-transform: uppercase;
  }

  &__url,
  a {
    font-size: 14pt;
    line-height: 2em;
    color: $footer_url_color;
    text-decoration: none;

    &:link {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: #ffffff;
    }
  }
}

/* Portfolio Grid (level 2) */

.tm__grid {
  &--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  &--item {
    flex-grow: 1;
    width: $tm_width;
  }
}

/* Testimonial Card grid (level 1) */

.tm__card {
  &--container {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: 350px 0px 150px;
    row-gap: 0px;
    grid-auto-flow: column;
    margin: 20px;
    min-height: ($tm_body_height + $tm_mid_height + $tm_footer_height);
    width: $tm_width;
    border-radius: 20px;
    background-color: $hover_background_color;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

    &:hover tm__card--container {
      opacity: 0.1;
    }

    &:hover tm__card--on-top > button {
      opacity: 1;
    }
  }

  &--card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $tm_width;
    height: ($tm_body_height + $tm_mid_height + $tm_footer_height);
    z-index: 10;
    border-radius: 20px;
    box-shadow: grey 0.2em 0.2em 0.3em;
  }

  &--body {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    width: $tm_width;
    background-color: $tm_body_color;
    min-height: $tm_body_height;
    border-radius: 20px 20px 0px 0px;
  }

  &--mid {
    position: absolute;
    top: 350px;
    left: 0px;
    z-index: 30;
    min-height: $tm_mid_height;
    width: $tm_width;

    > img {
      margin-top: -50px;
      margin-left: 39%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid $tm_body_color;
    }
  }

  &--footer {
    position: absolute;
    top: 350px;
    left: 0px;
    z-index: 20;
    min-height: $tm_footer_height;
    width: $tm_width;
    padding: 50px 5% 5% 5%;
    border-radius: 0px 0px 20px 20px;
    background-color: $tm_footer_color;
    // @include transition(background-color, opacity);
    // @include on-hover-change-opacity (0.1);
    // @include on-hover-change-background();
  }

  &--on-top {
    position: absolute;
    z-index: 40;
    top: 50%;
    left: 39%;
    margin: 0 auto;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

    button {
      background-color: #b4b6f0;
      color: white;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      display: none;
      z-index: 50;
    }
  }
}
